<h1> Create new creature </h1>

<%= form_for @creature do |f| %>

  <p>Name: <%= f.text_field :name %></p>
  <p>Description: <%= f.text_area :description %></br></p>
  <%= f.submit "Save Creature" %>
<% end %>
